@import "components/normalize";
@import "components/base";
@import "components/typography";

* {
    outline: 1px solid red;
}

img {
    width: 100%;
}

.application {
    display: flex;
    flex-direction: row;
    // height: 100vh;
    width: 100%;
}

.sidebar {
    background-color: $color3;
    color: $color4;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    padding: 1%;
    width: 15%
}

.sidebar__titlebox {
    align-items: center;
    display: flex;
    justify-content: center;
}

.sidebar__titlebox__logodiv {
    margin-right: 5%;
    width: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.sidebar__actions {
    display: flex;
    flex-direction: column;
    // height: 50%;
}

input, button {
    border-radius: 50px;
    border: none;
    font-size: 18px;
    height: 45px;
    margin: 10px 0px;
    padding: 10px 18px;
    width: 100%;
}

.sidebar .button {
    background-color: $color3;
    border: 1px solid $color5;
    color: $color5;
}

.sidebar .button:hover {
    background-color: $color5;
    border: 1px solid $color5;
    color: $color3;
}

footer {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.mainpage {
    background-color: $color4;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    width: 85%;
}

.mainpage__titlediv {
    text-align: center;
}

.mainpage__jarsdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}

.mainpage__jardiv {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    width: 20%;
}

.mainpage__jardiv__deleteimgdiv {
    height: 20px;
    width: 20px;
}

.mainpage__jardiv__deleteimgdiv img {
    width: 100%;
}

.mainpage__jardiv button {
    background-color: unset;
    border-radius: unset;
    height: 20px;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 20px;
}

.mainpage__jardiv__imgdiv {
    width: 100%;
}

.mainpage__jardiv__imgdiv img {
    width: 100%;
}

.mainpage__jardiv__jarcat,
.mainpage__jardiv__jaramount {
    // position: absolute;
    text-align: center;
    text-transform: uppercase;
}

// .mainpage__jardiv__jarcat {
//     top: 150px;
//     left: 103px;
// }

// .mainpage__jardiv__jaramount {
// 	top: 200px;
// 	left: 103px;
// }

.mainpage__jardiv h4 {
    margin-top: 20px;
}

.mainpage input {
    border: 1px solid $color3;
    width: 100%;
}

ul {
    font-size: 14px;
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
}

.mainpage__jardiv__deletepurdiv {
    height: 15px;
    width: 15px;
}