/* RGB */

// Accent colour
$color1: rgba(0, 183, 18, 1);

// Sidebar title
$color2: rgba(34, 39, 42, 1);

// Sidebar body 
$color3: rgba(49, 56, 62, 1);

// Body background / Sidebar text
$color4: rgba(240, 240, 242, 1);

// Secondary accent colour
$color5: rgba(64, 214, 0, 1);